@CHARSET "ISO-8859-1";
body
{
	background-image:url("../images/back.jpg");
	background-position:right top;
	background-repeat:no-repeat;
}
p.title
{
	font-family:"Times New Roman";
	font-size:50px;
	color:red;
	font-weight:bold;
}
p.number
{
	font-family:"Comic Sans MS";
	font-size:30px;
	color:#000000;
}
p.paragraph
{
	font-family:"Comic Sans MS";
	font-size:30px;
	color:#000000;
}
