body {
    background-image: url("../images/background.jpg");
   

}

#title {
    text-align: center;
    font-size: xx-large;


}

#index {
    padding:10px;
    float: left;
    width: 20%;
    background-color: #FFCC66;


}


#content {
    padding:10px;
    float: left;
    width: 60%;

}

#survey {
    float: left;
    width: 15%;
    background-color: #FFCC66;

}
